# Git files
.git/*

# Packaging, Tooling, and PyInstaller outputs
build/
*.spec
.venv/
packaging/
dist/backup/*

# Flatpak build directory
.flatpak-builder/
*.flatpakref
*.flatpakrepo
flatpak/.flatpak-builder/
flatpak/build/
flatpak/export/
flatpak/files/.flatpak-builder/
repo/
build-dir/

# Logs and test files
*.log
test.*
logs/*
!logs/most_recent.log
TODO
